@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&family=Roboto:wght@300&display=swap');

body {
    background:linear-gradient(to right, #F49AA4, #ce6975);
    overflow-x :hidden;
}

.marca {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-left: 150px;
}

.marca img {
    width: 115px;
    height: 115px;
}

.marca h1 {
    margin-left: -80px;
    margin-top: 85px;
    font-family: 'Cookie';
    font-size: 100px;
    color: #ffd700;
    background: linear-gradient(to right, #FFD700, #CDAE00);
    -webkit-background-clip: text;
    text-shadow: 0px 0px 1px rgba(255, 215, 0, 0.4);
}

.topo {
    color: rgb(8, 4, 7);
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px rgb(140, 136, 136);
    font-weight: 700;
    background-color: rgb(251, 246, 246);
}

.topo p{
    font-size: 15px;
}

p:hover {
    color: gold;
    cursor: pointer;
}

.foto {
    display: flex;
    justify-content: flex-end;
    width: 100vh;
}

.foto img {
    width: 393px;
    height: 363px;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.foto img:hover {
    transform: scale(1.01);
    filter: contrast(150%);
}

.rodape{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rodape p {
    margin-top: -15px;
    margin-bottom: 30px;
    color: rgb(244, 239, 242);
    text-shadow: 2px 1px 1px black;
    font-weight: bold;
    font-family: 'Poppins';
}

.rodape h2 {
    font-family: 'Poppins';
    text-shadow: 1px 1px 1px white;
}

.botao {
    margin-top: 200px;
    margin-left: -360px;
    padding: 8px;
    color: rgb(214, 114, 131);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: linear-gradient(rgba(255, 255, 255, 0))
    border: none;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
   
   .botao:hover {
    letter-spacing: 3px;
    background-color: #f49aa4;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(10, 9, 10) 0px 7px 29px 0px;
   }
   
   .botao:active {
    letter-spacing: 1px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }